<div fxLayout="column" fxLayoutAlign="center" fxLayout.xl="column" style="margin-top:80px">
    
    <div fxLayoutAlign="center" style="margin-top:40px;">
    <div fxLayoutAlign="left" style="width:96%">
        <mat-form-field style="width:80%" appearance="fill">
            <mat-label>Enter Users Endpoint</mat-label>
            <input type="text" [formControl]="endpoint" matInput>

        </mat-form-field>
    </div>
    </div>

    <div fxLayoutAlign="center" style="margin-top:40px;">

    <mat-expansion-panel style="width:96%">
            <mat-expansion-panel-header>
                <mat-panel-title>
                Create New User
                </mat-panel-title>
                <mat-panel-description>
                Create a new user with the Dynamo CRUD API
                </mat-panel-description>
            </mat-expansion-panel-header>



            
            <div fxLayoutAlign="left">
                <mat-form-field style="width:80%" appearance="fill">
                <mat-label>Enter Body</mat-label>
                <input type="textarea" [formControl]="body" matInput>
        
                </mat-form-field>
            </div>

            <div fxLayoutAlign="left" style="margin-top:20px;">
            <button type="button"  style="width:30%" mat-raised-button color="primary"(click)="putUserCompleteResponse()" >Create the User</button>
            </div>



            <div fxLayoutAlign="left" style="margin-top:40px;">
            
            <mat-card style="width:80%">
                <mat-card-header>
                    <mat-card-title>
                        Response body
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    {{resultado }}
                </mat-card-content>
            </mat-card>

            </div>
       
    </mat-expansion-panel>

    </div>




    <div fxLayoutAlign="center" style="margin-top:40px;">

    <mat-expansion-panel style="width:96%">

        <mat-expansion-panel-header>
            <mat-panel-title>
            List Users
            </mat-panel-title>
            <mat-panel-description>
            List all the users with the Dynamo CRUD API
            </mat-panel-description>
        </mat-expansion-panel-header>



        <div fxLayoutAlign="left" style="margin-top:20px;">
        <button type="button"  style="width:30%" mat-raised-button color="primary"(click)="getUserCompleteResponse()" >List Users</button>
        </div>



        <div fxLayoutAlign="left" style="margin-top:40px;">
        

                <table mat-table  style="width:80%" [dataSource]="usersTable" class="mat-elevation-z8">

                    <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->
                  
                    <!-- Position Column -->
                    <ng-container matColumnDef="id">
                      <th mat-header-cell *matHeaderCellDef> Id </th>
                      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>
                  
                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef> Name </th>
                      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>
                  
                    <!-- Weight Column -->
                    <ng-container matColumnDef="lastname">
                      <th mat-header-cell *matHeaderCellDef> LastName </th>
                      <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
                    </ng-container>
                  
    
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>


        </div>
   
    </mat-expansion-panel>
    </div>



    <div fxLayoutAlign="center" style="margin-top:40px;">

        <mat-expansion-panel style="width:96%">
    
            <mat-expansion-panel-header>
                <mat-panel-title>
                DELETE User
                </mat-panel-title>
                <mat-panel-description>
                DELETE User with the Dynamo CRUD API
                </mat-panel-description>
            </mat-expansion-panel-header>
    


            <div fxLayoutAlign="left">
                <mat-form-field style="width:80%" appearance="fill">
                <mat-label>Enter User Id to delete</mat-label>
                <input type="textarea" [formControl]="userId" matInput>
        
                </mat-form-field>
            </div>           
      
    
            <div fxLayoutAlign="left" style="margin-top:20px;">
            <button type="button"  style="width:30%" mat-raised-button color="primary"(click)="deleteUserCompleteResponse()" >Delete User</button>
            </div>
    
    
    
            <div fxLayoutAlign="left" style="margin-top:40px;">
            
                <mat-card style="width:80%">
                    <mat-card-header>
                        <mat-card-title>
                            Response body
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        {{resultado }}
                    </mat-card-content>
                </mat-card>
    
            </div>
       
        </mat-expansion-panel>
        </div>



</div>

